body {
  font-family: 'Open Sans', sans-serif; }
  body .header {
    background-image: url("../assets/header1.png");
    background-size: cover;
    width: 100%; }
    body .header .container {
      width: 890px; }
      body .header .container .logo {
        padding-top: 24px; }
      body .header .container .menu {
        margin-top: 18px; }
        body .header .container .menu ul {
          display: inline-block;
          padding: 0;
          margin: 0;
          list-style: none;
          padding-right: 22px; }
          body .header .container .menu ul li {
            color: white;
            display: inline-block;
            font-size: 14px;
            padding: 0 10px; }
            body .header .container .menu ul li:first-child {
              border-right: 1px solid;
              line-height: 16px; }
            body .header .container .menu ul li:last-child {
              padding-right: 0; }
        body .header .container .menu button {
          display: inline-block;
          width: 240px;
          height: 37px;
          background: rgba(255, 255, 255, 0.8);
          font-weight: bold;
          border: none;
          color: #143256;
          font-size: 14px; }
    body .header .frase p {
      color: white;
      background: rgba(0, 0, 0, 0.4);
      font-size: 46px;
      font-weight: 800;
      letter-spacing: -2px;
      line-height: 44px;
      display: inline-block;
      margin-top: 210px;
      padding: 8px 0px 10px 14px;
      width: 510px;
      margin-bottom: 15px; }
    body .header .frase button {
      font-family: 'Open Sans', sans-serif;
      width: 240px;
      height: 55px;
      background: rgba(224, 175, 64, 0.8);
      border: none;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 60px; }
  body .parte2 {
    background: url("../assets/parte2back.png");
    width: 100%; }
    body .parte2 .container {
      width: 890px; }
      body .parte2 .container h4 {
        font-size: 40px;
        font-weight: 900;
        color: #e9b848;
        margin-bottom: 30px; }
      body .parte2 .container p {
        font-size: 16px; }
      body .parte2 .container li {
        font-size: 16px;
        font-weight: bold; }
      body .parte2 .container button {
        font-family: 'Open Sans', sans-serif;
        width: 240px;
        height: 55px;
        background: rgba(224, 175, 64, 0.8);
        border: none;
        font-size: 16px;
        font-weight: bold;
        margin-top: 26px;
        margin-left: -20px;
        margin-bottom: 14px; }
  body .parte3 {
    background: url("../assets/parte3back.png");
    width: 100%;
    background-size: cover; }
    body .parte3 .container {
      width: 890px;
      color: white; }
      body .parte3 .container h5 {
        font-size: 36px;
        font-weight: bold;
        margin-top: 46px;
        margin-bottom: 2px; }
      body .parte3 .container p {
        font-size: 16px;
        margin-bottom: 20px; }
      body .parte3 .container ul {
        margin-left: -40px; }
      body .parte3 .container ul li {
        display: inline-block;
        margin-right: 40px;
        margin-bottom: 58px;
        font-weight: 900; }
      body .parte3 .container span {
        font-size: 80px; }
  body .parte4 {
    background: url("../assets/parte4back.png");
    width: 100%; }
    body .parte4 .container {
      width: 890px;
      color: white; }
      body .parte4 .container .experiencias {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-weight: italic;
        font-size: 30px;
        text-align: center; }
      body .parte4 .container .test:after {
        content: url("../assets/comillacierra.gif");
        position: relative;
        right: -425px;
        top: -60px; }
      body .parte4 .container .test:before {
        content: url("../assets/comillaabre.gif");
        position: relative;
        left: -425px;
        top: 80px; }
    body .parte4 .separador {
      margin-top: -80px; }
    body .parte4 .users {
      padding: 0;
      margin-right: 0; }
      body .parte4 .users h5 {
        font-size: 18px; }
      body .parte4 .users p {
        font-size: 10px;
        font-style: italic;
        color: rgba(255, 255, 255, 0.8); }
    body .parte4 .inactive {
      color: rgba(255, 255, 255, 0.5); }
      body .parte4 .inactive img {
        opacity: 0.5; }
      body .parte4 .inactive p {
        color: rgba(255, 255, 255, 0.5); }
  body .parte5 {
    background: url("../assets/parte5img.jpg");
    color: white; }
    body .parte5 h5 {
      font-size: 36px;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 40px; }
    body .parte5 ul li {
      display: inline-block;
      margin: 0 40px;
      font-size: 14px;
      margin-bottom: 100px; }
    body .parte5 span {
      border: 1px solid white;
      border-radius: 30px;
      padding: 8px 13px;
      margin-right: 20px; }
  body .parte6 {
    background: url("../assets/parte6img.jpg");
    width: 100%;
    background-size: cover; }
    body .parte6 h3 {
      margin-top: 70px;
      font-size: 36px;
      font-weight: bold;
      color: #333333; }
    body .parte6 p {
      font-size: 18px;
      color: #333333; }
    body .parte6 button {
      background: rgba(224, 175, 64, 0.9);
      border: none;
      font-size: 16px;
      font-weight: bold;
      width: 300px;
      height: 56px;
      margin-bottom: 70px; }
  body .parte7 {
    background: url("../assets/parte7img.jpg");
    width: 100%;
    background-size: cover; }
    body .parte7 .container {
      color: white; }
      body .parte7 .container h4 {
        font-size: 36px;
        font-weight: bold;
        margin-top: 90px;
        margin-bottom: 25px; }
      body .parte7 .container p {
        font-size: 18px;
        margin-bottom: 100px; }

@media only screen and (max-width: 600px) {
  body .header {
    background-image: url("../assets/header1mobile.png");
    background-size: cover;
    opacity: 1.2; }
    body .header .container {
      width: 100%; }
      body .header .container .logo {
        background-color: white;
        text-align: center;
        margin: auto;
        padding: 24px;
        margin-bottom: 20px; }
      body .header .container .menu {
        background-color: #e0af40;
        margin-top: -30px; }
        body .header .container .menu ul li {
          background: white;
          color: black;
          border: none;
          padding: 25px; }
          body .header .container .menu ul li:first-child {
            border-right: none;
            line-height: none; }
          body .header .container .menu ul li:last-child {
            padding-right: 25px;
            line-height: none; }
        body .header .container .menu .frase p {
          background: none; }
        body .header .container .menu .frase .btn {
          display: none; }

  .parte2 {
    display: none; }

  .parte3 {
    display: none; }

  .parte4 {
    display: none; }

  .parte5 {
    display: none; }

  .parte6 {
    display: none; }

  .parte7 {
    display: none; } }

/*# sourceMappingURL=style.css.map */
